html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand','Montserrat', sans-serif;
  font-size: 10px;
}
:root {
  --primary-color: #FFCC33;
  --background-color: #FAFAFA;
  --secondary-color: #00CC00;
  --description-color: #999999;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
